@model WebsiteGS_Shop.Models.NguoiBan

@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h3 class="text-center" style="color: red">ĐĂNG KÝ NGƯỜI BÁN</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <b class="control-label col-md-2">Họ Và Tên</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenNB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b class="control-label col-md-2">Địa Chỉ</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b class="control-label col-md-2">Số Điện Thoại</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b class="control-label col-md-2">Tài Khoản</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <b class="control-label col-md-2">Mật Khẩu</b>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <center><input type="submit" value="ĐĂNG KÝ" class="btn btn-success" /></center>
                </div>
            </div>
        </div>
    </div>    
}

